<!DOCTYPE html>
<html lang="en" dir="ltr" xmlns:if="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/gpa.css">
    <link rel="icon" href="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwaylandhs.sharpschool.net%2FUserFiles%2FServers%2FServer_1036540%2FImage%2FImages%2Fwaylandlogo_color.png&f=1&nofb=1">
    <!-- Boxicons CDN Link -->
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> WayGrade - GPA
    </title>
   </head>

  <body>
    <div class="sidebar">
      <div class="logo-details">
        <img src='https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fwaylandhs.sharpschool.net%2FUserFiles%2FServers%2FServer_1036540%2FImage%2FImages%2Fwaylandlogo_color.png&f=1&nofb=1' width="65" height="60">
        <span class="logo_name">WayGrade</span>
      </div>
        <ul class="nav-links">

          <!-- IF ACCOUNT IS LINKED -->
          <li>
            <a href="/sports/{{username}}">
              <i class='bx bx-ball' ></i>
              <span class="links_name">Sports</span>
            </a>
          </li>
          <li>
            <a href="/grades/{{username}}">
              <i class='bx bx-book-bookmark' ></i>
              <span class="links_name">Grades</span>
            </a>
          </li>
          <li>
            <a href="/gpa/{{username}}">
              <i class='bx bx-bar-chart-alt-2' ></i>
              <span class="links_name">GPA</span>
            </a>
          </li>
<!--          <li>-->
<!--                <a href="/college/{{username}}" class="active">-->
<!--                  <i class='bx bxs-graduation'></i>-->
<!--                  <span class="links_name">College</span>-->
<!--                </a>-->
<!--          </li>-->
          <li>
            <a href="/community_service/{{username}}">
              <i class='bx bx-book-heart' ></i>
              <span class="links_name">Community Service</span>
            </a>
          </li>
          <li>
            <a href="/profile/{{username}}" >
              <i class='bx bx-user-circle'></i>
              <span class="links_name">Profile</span>
            </a>
          </li>
          <li>
            <a href="/about/{{username}}">
              <i class='bx bx-info-circle'></i>
              <span class="links_name">About</span>
            </a>
          </li>
          <li>
            <a href="/settings/{{username}}">
              <i class='bx bx-cog' ></i>
              <span class="links_name">Settings</span>
            </a>
          </li>
          <li class="log_out">
            <a href="/logout">
              <i class='bx bx-log-out'></i>
              <span class="links_name">Log out</span>
            </a>
          </li>

        </ul>
    </div>
    <section class="home-section">
      <nav>
        <div class="sidebar-button">
          <i class='bx bx-menu sidebarBtn'></i>
          <span class="dashboard">GPA</span>
        </div>
        <a href="/gpa-details" class='bx bx-info-circle info-icon'></a>

        <div class="profile-details">
          {% if User["profilePicture"] %}
            <img src="{{User['profilePicture']}}" alt="">
          {% else %}
            <i class="bx bx-user-circle guest-profile-picture"></i>
          {% endif %}
          <span class="admin_name">{{username}}</span>
          <i class='bx bx-chevron-down' ></i>
        </div>
      </nav>

      <div class="home-content">

        {% if not naviance_data %}
          <div class="not-activated-message box">
            <span class="not-activated message">Link your Naviance account to see college details!</span>
            <a class="bx bx-link" href="/naviance-login/{{username}}"></a>
          </div>
        {% endif %}

        {% if naviance_data %}
        <div>
          <div class="title">
            2021-2022
          </div>
          <div class="overview-boxes">
            <div class="box">
              <div class="right-side">
                <div class="box-topic">Unweighted</div>
                <div class="number" >stuff</div>

              </div>
              <i class='bx bx-bar-chart-alt-2 cart'></i>
            </div>
            <div class="box">
              <div class="right-side">
                <div class="box-topic">Weighted</div>
                <div class="number">stuff</div>
              </div>
              <i class='bx bxs-bar-chart-alt-2 cart two' ></i>
            </div>
          </div>
        </div>

        {% endif %}


      </div>
    </section>

    <script>
  var coll = document.getElementsByClassName("collapsible");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");


      var content = this.nextElementSibling;
      if (content.style.maxHeight){
        content.style.maxHeight = null;
      } else {
        content.style.maxHeight = "1000px";
      }
    });
  }
  </script>
    <script>
    let assignmentCollapse = document.querySelector(".home-content .sales-boxes .recent-sales");
    let collapseBtn = document.querySelector(".home-content .sales-boxes .recent-sales .collapsible");
    collapseBtn.onclick = function() {
    assignmentCollapse.classList.toggle("active");

    if(assignmentCollapse.classList.contains("active")){
    collapseBtn.classList.replace("bxs-chevron-down", "bxs-chevron-up");
    }else
      collapseBtn.classList.replace("bxs-chevron-up", "bxs-chevron-down");
    }
  </script>
    <script>
       let sidebar = document.querySelector(".sidebar");
      let sidebarBtn = document.querySelector(".sidebarBtn");
      sidebarBtn.onclick = function() {
      sidebar.classList.toggle("active");
      if(sidebar.classList.contains("active")){
      sidebarBtn.classList.replace("bx-menu" ,"bx-menu-alt-right");
      }else
      sidebarBtn.classList.replace("bx-menu-alt-right", "bx-menu");
      }
     </script>
  </body>

</html>

